@import "../../../../styles.scss";

.content {
  margin: 2rem 2rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: $default-shadow;
  border-radius: 20px;
  font-size: x-large;
  gap: 2rem;
  color: $text-color-2;
  background-color: $secondary-color;

  p{
    font-weight: 100;
    margin: 0;
    text-align: justify;
    letter-spacing: 0.04em;
    line-height: 1.4;
  }

  h1{
    margin: 0;
    text-decoration: underline;
  }

//   h2{
//     text-decoration: underline;
//   }

  .main-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $background-color;
    color: $text-color;
    padding: 2rem 4rem;
    border-radius: 20px;
    box-shadow: $default-shadow;
    transition: 0.8s;
  }

  .main-info:hover{
    background-color: $primary-color;
    color: $text-color-2;
  }
}
