<div class="content">
  <h1><span>About</span> ReTodo</h1>
  <div class="main-info">
    <p>
      Welcome to Retodo, your simple and intuitive todo application designed to
      keep you focused and organized. Our todo app is designed to help you focus
      on what really matters <strong>—your tasks—</strong> without the
      clutter.With an easy-to-use interface, Retodo makes it effortless to
      create and manage tasks, whether it’s for today, tomorrow, or months from
      now.
    </p>

    <h2>What makes Retodo different:</h2>
    <p>
      What sets Retodo apart is our powerful recurring task feature. No more
      wasting time re-creating the same task every day. Set it once, and let
      Retodo handle the rest, helping you stay organized without the extra
      effort.If you're looking for a straightforward, no-frills way to boost
      your productivity, <strong>Retodo is here to help</strong>.
    </p>
  </div>
  <span>Join us in making productivity straightforward and stress-free!</span>
</div>
