<div class="content">
  <div class="top-section">
    <div class="panel-section">
      <div class="panel default-panel">
        <app-todo-panel
          [panelItems]="panelDefault"
          (action)="panelAction($event)"
        ></app-todo-panel>
      </div>
      <div class="panel user-list-panel">
        <app-todo-panel
          [panelItems]="userLists"
          (action)="panelAction($event)"
          (refreshUserLists)="hardRefreshPanel()"
        >
          <div class="list-title">
            <button
              mat-icon-button
              class="title-btn"
              matTooltip="Add List"
              (click)="toggleListForm()"
            >
              <mat-icon>library_add</mat-icon>
            </button>
            <span>My Lists</span>
          </div>
          <div>
            <form
              class="new-list-form"
              *ngIf="showListForm"
              (ngSubmit)="addNewLIst()"
              [formGroup]="listForm"
              action=""
            >
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="listTitle" />
                <button
                  class="add-list-btn"
                  mat-button
                  matSuffix
                  type="submit"
                  (click)="$event.stopPropagation()"
                  [disabled]="isCreatingList"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </div>
        </app-todo-panel>
      </div>
    </div>
    <div class="task-section">
      <app-todo-task-list
        [tasks]="tasks"
        [pageTitle]="listTitle"
        [currentPanel]="currentPanel"
        (taskActionCompleted)="onActionCompletion($event)"
      ></app-todo-task-list>
    </div>
  </div>
  <div class="bottom-section">
    <app-todo-actions></app-todo-actions>
  </div>
</div>
