@import "../../../../styles.scss";

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 4rem;
  gap: 2rem;

  .top-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;

    .panel-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .panel {
        box-shadow: $default-shadow;
        border-radius: 0 0 20px 20px;
        min-height: 25vh;
        color: $text-color;
        border: 3px solid $secondary-color;
        border-top: none;
      }

      .user-list-panel {
        border-radius: 20px;
        border: 3px solid $secondary-color;

        .list-title {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          font-size: x-large;
          width: 100%;   
          color: $text-color;

          .title-btn {
            background: none;
            border: none;
            cursor: pointer;
          }
        }
      }
    }

    .task-section {
      background-color: $secondary-color;
      border-radius: 0 0 20px 20px;
      box-shadow: $default-shadow;
    }
  }

  .bottom-section {
    background-color: $background-color;
    box-shadow: $default-shadow;
    border-radius: 20px;
  }
}
