@import "../../../../../styles.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 2rem;
  

  .panelAction {
    padding: 0.5rem 1rem;;
    font-size: 20px;
    border-radius: 10px;
    text-align: justify;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: $default-shadow;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .panelAction:hover{
    background-color: $primary-color;
    color: #fff;
  }
  .selectedPanel{
    background-color: $secondary-color;
    color: #fff;
  }
}
