<div class="content" *ngIf="config$">
  <span class="title"> {{ config$.formName | titlecase }} </span>
  <form class="form" [formGroup]="form">
    <div *ngFor="let control of config$.controls">
      <mat-form-field class="full-width">
        <mat-label>{{ control.controlLabel | titlecase }}:</mat-label>
        <input
          *ngIf="control.controlType === 'text'"
          matInput
          [placeholder]="control.controlName | titlecase"
          [formControlName]="control.controlName"
        />
        <textarea
          matInput
          *ngIf="control.controlType === 'textarea'"
          [placeholder]="control.controlName"
          [formControlName]="control.controlName"
        ></textarea>
        <input
          *ngIf="control.controlType === 'email'"
          matInput
          [type]="control.controlType"
          placeholder="Enter your email"
          [formControlName]="control.controlName"
        />

        <input
          *ngIf="control.controlType === 'password'"
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Enter your password"
          [formControlName]="control.controlName"
        />
        <button
          *ngIf="control.controlType === 'password'"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon matSuffix>{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error
          *ngIf="
            form.get(control.controlName)?.invalid &&
            form.get(control.controlName)?.touched
          "
        >
          <span *ngIf="form.get(control.controlName)?.errors?.['required']">
            {{ control.controlLabel | titlecase }} is required.
          </span>
          <span *ngIf="form.get(control.controlName)?.errors?.['minlength']">
            {{ control.controlLabel | titlecase }} must be at least
            {{ form.get(control.controlName)?.errors?.['minlength'].requiredLength }}
            characters long.
          </span>
          <!-- Add more validation error messages as needed -->
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <button
    class="action-btn"
    *ngFor="let btn of config$.btnNames"
    (click)="onSubmit()"
    type="submit"
    mat-button
    color="primary"
  >
    <div [ngSwitch]="btn">
      <div *ngSwitchCase="'login'" class="icon-btn">
        <mat-icon>login</mat-icon>
      </div>
      <div *ngSwitchCase="'register'" class="icon-btn">
        <mat-icon>person_add</mat-icon>
      </div>
      <div *ngSwitchCase="'reset password'" class="icon-btn">
        <mat-icon>lock</mat-icon>
      </div>
      <div *ngSwitchDefault class="name-btn">{{ btn | titlecase }}</div>
    </div>
  </button>
</div>
