@import "../../../../styles.scss";

.content {
  margin: 4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-items: center;
  color: $text-color;
  border: 2px solid $secondary-color;
  border-radius: 20px;
  box-shadow: $default-shadow;
  padding: 4rem;
  font-weight: 100;

  .header {
    font-size: xxx-large;
  }

  .first-text {
    font-size: x-large;
  }

  .last-text {
    font-size: large;
  }

  .home-btn {
    background-color: $secondary-color;
    color: white;
  }
  hr {
    width: 50%;
    height: 2px;
  }
}
