@import "../../../../../../styles.scss";

h2 {
  text-align: start;
  font-weight: bold;
  
}

.dialog-header-section{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 2rem 2rem 0 1rem;

  .dialog-title{
    padding: 0 1rem;
    color: $text-color;
  }
  .delete-btn-icon{
    color: $button-color-warn;
    font-size: 20px;
    margin: 0;
  }
  
}

.form {
  display: flex;
  flex-direction: column;

  .subheading-date-time {
    display: flex;
    color: $text-color;
  }
  .more-task-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

    .date-time-picker {
      display: grid;

      .time-picker {
        display: grid;
      }
    }

    .extra-actions{
      display: grid;
      align-items: center;
    }
    .slide-toggle {
      display: flex;
    }
  }
}

.warn-btn {
  background-color: $button-color-warn;
  border-radius: 20px;
  color: white;
}

.delete-btn-icon:hover{
  color: black;
}