<div class="dialog-header-section">
  <span class="dialog-title" *ngIf="!data" mat-dialog-title>Add Task</span>
  <span class="dialog-title" *ngIf="data" mat-dialog-title>Task Details</span>
  <button mat-button *ngIf="data" (click)="deleteTask()" matTooltip="Delete Task"> 
    <mat-icon class="delete-btn-icon">delete</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form class="form" [formGroup]="taskForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="taskTitle" type="text" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput type="text" formControlName="taskDesc"></textarea>
    </mat-form-field>

    <div class="more-task-details">
      <div class="date-time-picker">
        <h3 class="subheading-date-time">Choose date and time:</h3>
        <mat-form-field class="example-full-width" *ngIf="!isRecurring">
          <mat-label>Set End Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="taskEndDate"
            [min]="minDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" *ngIf="isRecurring">
          <mat-label>Set Date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" [min]="minDate">
            <input
              matStartDate
              formControlName="taskStartDate"
              placeholder="Start date"
            />
            <input
              matEndDate
              formControlName="taskEndDate"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <div class="time-picker">
          <mat-form-field appearance="fill">
            <mat-label>Set Time</mat-label>
            <mat-select formControlName="taskEndTime">
              <mat-option *ngFor="let time of timeSlots" [value]="time">
                {{ time }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-slide-toggle  formControlName="timeToggle" #toggle (change)="toggleTimePicker()"
            >Set Time</mat-slide-toggle
          >
        </div>
      </div>
      <div class="extra-actions">
        <h3 class="subheading-date-time">Actions:</h3>
        <mat-form-field>
          <mat-label>Set Priority</mat-label>
          <mat-select formControlName="priority">
            <mat-option
              [value]="level.value"
              *ngFor="let level of priorityLevels"
              >{{ level.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <p class="slide-toggle">
          <mat-slide-toggle formControlName="reminder"
            >Set Reminder</mat-slide-toggle
          >
        </p>
        <p *ngIf="!data || (data && !data.isRecurring)" class="slide-toggle">
          <mat-slide-toggle
            formControlName="isRecurring"
            (change)="toggleReurring()"
            >Is it recurring?</mat-slide-toggle
          >
        </p>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="cancel-btn" mat-button mat-dialog-close>Cancel</button>
  <button class="proceed-btn" mat-button cdkFocusInitial *ngIf="!data" (click)="addTask()">
    Add
  </button>
  <button
    class="proceed-btn"
    mat-button
    cdkFocusInitial
    [disabled]="!dataChanged"
    *ngIf="data"
    (click)="saveData()"
  >
    Save
  </button>
</mat-dialog-actions>
