@import "../../../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 4rem;
  min-height: 100%;
  color: $background-color;
}

.top-section {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 0;
  }

  .title-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  min-width: 97.52%;
  color: $text-color;
  // border: 1px solid $primary-color;
  .task-list-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    overflow-x: hidden;
    padding-right: 2rem;
    overflow-y: auto;
    height: 40vh;
    scrollbar-width: none;
    border-radius: 20px;

    .task-section {
      background-color: $background-color;
      padding: 0.5rem 1rem;
      min-width: 100%;
      display: flex;
      align-items: center;
      box-shadow: $default-shadow;
      cursor: pointer;
      border-radius: 20px;
      transition: 0.5s;
      justify-content: space-between;
  
      .task-details {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
        // min-width: 100%;
  
        .task-details-section {
          display: flex;
          gap: 2rem;
          margin-left: 3rem;
          align-items: center;
  
          .date-time-block{
            background-color: darkgray;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }
    .task-section:hover {
      background-color: $primary-color;
      color: $background-color;
      // border: 1px solid $background-color;
      box-shadow: $default-shadow;
    }
  }

  .task-list-section::-webkit-scrollbar {
    display: none;              /* Hide scrollbar in Chrome, Safari, and Edge */
  }
  
  
}

.add-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: $background-color;
  font-size: large;
  margin-top: 1rem;
}

.add-btn:hover {
  color: black;
}

.overdue {
  color: #d32f2f;
  display: flex;
  align-items: center;
  gap: 1rem;
}
