/* You can add global styles to this file, and also import other style files */
$background-color: #d9d9d9;
$primary-color: #739072;
$secondary-color: #4f6f52;
$button-color: #fdc707;
$text-color: #3a4d39;
$text-color-2: #ffff;
$pomodoro-background-color: #60c764;
$task-analytics-background-color: #83bbcd; 
$default-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$normal-text-font: "Space Grotesk", sans-serif;
$normal-text-font-weight: 500;
$normal-text-font-style: normal;
$button-color-warn: #f44336;

html,
body {
  background-color: $background-color;
  height: 100%;
}
body {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
  // background-color: $secondary-color;
  border-radius: 20px;
}

