/* You can add global styles to this file, and also import other style files */

html, body { background-color: var(--background-color);}
body { font-family: 'Bree Serif', serif; text-align: center;}

:root{
    --background-color: #D9D9D9;
    --primary-color: #739072;
    --secondary-color:#4F6F52;
    --button-color: #FDC707;
    --text-color: #3A4D39;
    --default-shadow: 0 4px 6px rgba(0,0,0,0.1);
}